@page "{id:Guid}"
@model ClothingStoreAppUI.Pages.Roles.EditModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2 mb-2">
    <div class="container">
        <h4>Edit Role</h4>
    </div>
</div>

<div>
    <div class="container">
        <form method="post">

            <div class="mb-3">
                <label for="Name" class="form-label">Role Name</label>
                <input type="text" class="form-control" id="Name" asp-for="role.RoleName">
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Submit</button>

                <button class="btn btn-danger delete-btn" type="submit" asp-page-handler="Delete">
                    Delete Role
                </button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <script>
        // Confirmation cho nút Delete - bằng class
        document.querySelector('.delete-btn').addEventListener('click', function (e) {
            if (!confirm('Are you sure you want to delete this product?')) {
                e.preventDefault();
            }
        });
    </script>
}
